<nb-card [nbSpinner]="tinhTrangTimKiem" nbSpinnerSize="large" nbSpinnerStatus="primary"
  nbSpinnerMessage="Đang chờ máy chủ CMIS của CPC phản hồi">
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <nb-card>
          <nb-card-header>Tìm kiếm khách hàng</nb-card-header>
          <nb-card-body>
            <form #formTimKiemKhachHang="ngForm" (ngSubmit)="onTimKiemKhachHang(formTimKiemKhachHang)">
              <div class="form-group row">
                <label for="inputMKH" class="label col-sm-2 col-form-label">Mã khách hàng</label>
                <div class="col-sm-10">
                  <input type="number" name="timKiemTheoMKH" nbInput fullWidth id="inputMKH"
                    placeholder="Nhập Mã khách hàng" ngModel>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputDiaChi" class="label col-sm-2 col-form-label">Địa chỉ</label>
                <div class="col-sm-10">
                  <input type="text" name="timKiemTheoDiaChi" nbInput fullWidth id="inputDiaChi"
                    placeholder="Nhập địa chỉ" ngModel>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputMaTram" class="label col-sm-2 col-form-label">Mã trạm</label>
                <div class="col-sm-10">
                  <input type="text" name="timKiemTheoMaTram" nbInput fullWidth id="inputMaTram"
                    placeholder="Nhập mã trạm" ngModel>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 label">Tìm kiếm theo</label>
                <div class="col-sm-10">
                  <nb-radio-group name="timKiemTheoTuyChon" ngModel>
                    <nb-radio value="chonMKH" checked="true">Mã khách hàng</nb-radio>
                    <nb-radio value="chonDiaChi">Địa chỉ</nb-radio>
                    <nb-radio value="chonMaTram">Mã trạm</nb-radio>
                  </nb-radio-group>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                  <button type="submit" fullWidth nbButton status="primary" value="submit">
                    <nb-icon icon="search-outline"></nb-icon>Tìm kiếm
                  </button>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>


      </div>
    </div>
  </nb-card-body>
</nb-card>
<div class="row" *ngIf="ketQuaTimKiem">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>
        Kết quả tìm kiếm
      </nb-card-header>
      <nb-card-body>

        <div class="row" *ngIf="ketQuaTimKiem">
          <div class="col-sm-12">
            <nb-card>
              <nb-card-header>
                Thông tin hợp đồng
              </nb-card-header>

              <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
                  (userRowSelect)="onSelectConfirm($event)">
                </ng2-smart-table>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

        <div class="row" *ngIf="ketQuaTimKiem">
          <div class="col-sm-12">
            <nb-card>
              <nb-card-header>
                Thông tin điểm đo
              </nb-card-header>

              <nb-card-body>
                <ng2-smart-table [settings]="settingsThongTinDiemDo" [source]="sourceThongTinDiemDo"
                  (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onSelectConfirm($event)">
                </ng2-smart-table>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<!-- <nb-card>
  <nb-card-header>Nhập nhanh</nb-card-header>
  <nb-card-body>
    <label for="inputMKH" class="label col-sm-1 col-form-label">Mục đích:</label>
    <nb-select placeholder="Chọn nhóm" fullWidth="true" [(selected)]="chonNhomMucDich">
      <nb-option-group>
        <nb-option value="SinhHoat">Sinh hoạt</nb-option>
        <nb-option value="KinhDoanh">Kinh doanh</nb-option>
        <nb-option value="ChieuSang">Chiếu sáng</nb-option>
        <nb-option value="SanXuat">Sản xuất</nb-option>
        <nb-option value="CoQuan">Cơ quan</nb-option>
      </nb-option-group>  
    </nb-select>
    
    <label for="inputMKH" class="label col-sm-1 col-form-label">Thiết bị:</label>
    
    <nb-select placeholder="Chọn nhóm" fullWidth="true"  [(selected)]="chonNhomThietBi" >
      <nb-option-group *ngFor="let item of duLieuCongSuatAfterFetched">
        <nb-option value="{{item.value}}">{{item.title}}</nb-option>
      </nb-option-group>      
    </nb-select>
   
    <label for="inputSoLuong" class="label col-sm-1 col-form-label">Số lượng</label>
    <input type="number" name="numSoLuong" nbInput id="inputSoLuong"  fullWidth="true"  placeholder="Nhập số lượng" ngModel class="col-sm-11">
    <label for="inputHeSo" class="label col-sm-1 col-form-label">Hệ số</label>
    <input type="number" name="numHeSo" nbInput id="inputHeSo"   fullWidth="true" placeholder="Nhập hệ số" ngModel class="col-sm-11">
    <label for="inputSoGio" class="label col-sm-1 col-form-label">Số giờ</label>
    <input type="number" name="numSoGio" nbInput id="inputSoGio" fullWidth="true" placeholder="Nhập số giờ" ngModel class="col-sm-11">
    
    <button fullWidth nbButton status="primary" (click)="dienNhanhCongSuat()">
      <nb-icon icon="plus-outline"></nb-icon>Thêm nhanh
    </button>

  </nb-card-body>
</nb-card> -->


<!-- <nb-card>
  <nb-card-header>
    1. Công suất sử dụng điện theo từng mục đích:
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settingsCongSuatSuDungDien" [source]="sourceCongSuatSuDungDien"
      (deleteConfirm)="onDeleteConfirm($event)" (create)="onSelectConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
  <button  fullWidth nbButton status="primary" (click)="onClickTinhToanCongSuat()">
    <nb-icon icon="search-outline"></nb-icon>Tính toán
  </button>
</nb-card> -->


<!-- <ng2-smart-table [settings]="settingsTyLeGiaBanDien" [source]="sourceTyLeGiaBanDien"
(deleteConfirm)="onDeleteConfirm($event)">
</ng2-smart-table> -->



<div class="row" *ngIf="luaChonKhachHang">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>
        Khách hàng đã chọn: {{luaChonKhachHang.MA_KHANG}} - {{luaChonKhachHang.TEN_KHANG}} -
        {{luaChonKhachHang.MA_TRAM}} - {{luaChonKhachHang.TEN_TRAM}} - {{luaChonKhachHang.MA_LO}} -
        {{luaChonKhachHang.SO_COT}}
      </nb-card-header>
      <nb-card-body>
        
        <div class="row" *ngIf="luaChonKhachHang">
          <div class="col-sm-12">
            <nb-card>
              <nb-card-header>
                1. Công suất sử dụng điện theo từng mục đích:
              </nb-card-header>

              <nb-card-body>
                <ng2-smart-table [settings]="settingsCongSuatSuDungDien" [source]="sourceCongSuatSuDungDien"
                  (deleteConfirm)="onDeleteConfirm($event)">
                </ng2-smart-table>
                <label for="inputChuoiGia" class="label col-sm-2 col-form-label">Chuỗi giá: {{chuoiGia}}</label>
                <button  fullWidth nbButton status="primary" (click)="onClickTinhToanCongSuat()">
                  <label for="inputChuoiGia" class="label col-sm-12 col-form-label">Chuỗi giá: {{chuoiGia}}</label>
                  <nb-icon icon="search-outline"></nb-icon>Tính toán
                </button>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

        <div class="row" *ngIf="luaChonKhachHang">
          <div class="col-sm-12">
            <nb-card>
              <nb-card-header>
                2. Tỷ lệ giá bán điện:
              </nb-card-header>

              <nb-card-body>

                <nb-card>
                  <nb-card-header>Nhập nhanh</nb-card-header>
                  <nb-card-body>
                    <label for="inputMKH" class="label col-sm-2 col-form-label">Nhóm dịch vụ:</label>
                    <nb-select placeholder="Chọn nhóm" fullWidth [(selected)]="chonNhomDichVu">
                      <nb-option-group title="Sinh hoạt">
                        <nb-option value="SH">Sinh hoạt</nb-option>
                      </nb-option-group>
                      <nb-option-group title="Kinh doanh">
                        <nb-option value="KD6">Kinh doanh (dưới 6KV)</nb-option>
                        <nb-option value="KD622">Kinh doanh (6KV - 22KV)</nb-option>
                        <nb-option value="KD22">Kinh doanh (trên 22KV)</nb-option>
                      </nb-option-group>
                      <nb-option-group title="Sản xuất bình thường">
                        <nb-option value="SXBT6">Sản xuất bình thường (dưới 6KV)</nb-option>
                        <nb-option value="SXBT622">Sản xuất bình thường (6KV - 22KV)</nb-option>
                        <nb-option value="SXBT22110">Sản xuất bình thường (22KV - 110KV)</nb-option>
                        <nb-option value="SXBT110">Sản xuất bình thường (trên 110KV)</nb-option>
                      </nb-option-group>
                      <nb-option-group title="Sản xuất công nghiệp">
                        <nb-option value="SXCN6">Sản xuất công nghiệp (dưới 6KV)</nb-option>
                        <nb-option value="SXCN22110">Sản xuất công nghiệp (22KV - 110KV)</nb-option>
                      </nb-option-group>
                      <nb-option-group title="Sản xuất">
                        <nb-option value="SX">Sản xuất</nb-option>
                      </nb-option-group>
                      <nb-option-group title="Kinh doanh">
                        <nb-option value="KD">Kinh doanh</nb-option>
                      </nb-option-group>
                      <nb-option-group title="Hành chính sự nghiệp">
                        <nb-option value="HCSN">Hành chính sự nghiệp</nb-option>
                        <nb-option value="HCSNBV">Hành chính sự nghiệp (Bệnh viện, trường học,...)</nb-option>
                      </nb-option-group>
                    </nb-select>
                    <label for="inputMKH" class="label col-sm-2 col-form-label">Tỷ lệ % hoặc kWh:</label>
                    <input [(ngModel)]="tyLePhanTramHoacKwh" type="text" fullWidth nbInput
                      placeholder="Nhập tỷ lệ % hoặc kWh">
                    <button fullWidth nbButton status="primary" (click)="dienNhanhTyLeGiaBanDien()">
                      <nb-icon icon="plus-outline"></nb-icon>Thêm nhanh
                    </button>

                  </nb-card-body>
                </nb-card>


                <ng2-smart-table [settings]="settingsTyLeGiaBanDien" [source]="sourceTyLeGiaBanDien"
                  (deleteConfirm)="onDeleteConfirm($event)">
                </ng2-smart-table>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

        <div class="row" *ngIf="luaChonKhachHang">
          <div class="col-sm-12">
            <nb-card>
              <nb-card-header>
                3. Tệp đính kèm:
              </nb-card-header>

              <nb-card-body>
                <input type="file" multiple="multiple" (change)="upload($event)" accept=".png,.jpg" />
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
                  <button type="button" class="btn btn-primary" (click)="task.pause()"
                    [disabled]="state === 'paused'">Tạm ngừng</button>
                  <button type="button" class="btn btn-primary" (click)="task.cancel()"
                    [disabled]="!(state === 'paused' || state === 'running')">Hủy</button>
                  <button type="button" class="btn btn-primary" (click)="task.resume()"
                    [disabled]="state === 'running'">Tiếp tục</button>
                </div>
                <div *ngIf="downloadURL | async; let uploadFilesList" class="alert alert-info" role="alert">
                  Hoàn tất tải lên các tệp
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="luaChonKhachHang">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>
        Xác nhận lưu?
      </nb-card-header>
      <nb-card-body>
        <button fullWidth nbButton status="info" (click)="onLuuDuLieuClicked()">
          <nb-icon icon="save-outline"></nb-icon>Lưu dữ liệu
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>